* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  margin: 0 auto;
  padding: 15px 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  ul {
    list-style-type: none;
  }

  a {
    text-decoration: none;
  }
}

.app > .app__container {
  width: 90%;
  height: 100vh;
  padding: 20px;
  margin: 0 auto 20px auto;

  .process__steps {
    @media (max-width: 840px) {
      display: flex;
      flex-direction: row;
      gap: 1.2rem;
      justify-content: center;
      align-items: center;
    }
  }
}
